body { 
    font-family: monospace; 
} 
ul { /*Seletor que seleciona o elemento HTML 'ul' */
    font-family: Helvetica; /*O nome da propriedade é font-family e o valor é Helvetica. Os dois juntos formam um par chave-valor*/
} 
li { 
    list-style: circle;
} 
.list { 
    list-style: square;
} 
#msg { 
    font-family: monospace;
} 
/*Os atributos personalizados são chamados de .list e #msg. Para classes iniciasse com . e para um único elemento é #. Os nomes são arbitrarios ou seja podem ser qualquer um*/ 
 
:root { /*representa o elemento <html> útil para definir variáveis CSS globais que podem ser usadas em qualquer parte do código.*/
    --AzulEscuro: #2C3E50; 
    --VerdeEsmeralda: #16A085; 
    --Dourado: #D4A24C; 
    --RosaClaro: #FADADD; 
    --RosaEscuro: #E86A92;
    --AzulTurquesa: #29B8C9; 
    --RoxoEscuro: #4E1D6A; 
    --Preto: #1B1B1B;
} 
 
.Trad-theme { 
    --bg: var(var(--Dourado)) 
    --fontColor: var(var(--VerdeEsmeralda))
} 